* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
.header a {
  text-decoration: none;
  color: rgb(82, 78, 78);
}
.header__ul {
  list-style-type: none;
}
.button-start {
  border-radius: 30px;
  border: none;
  background: rgb(86, 197, 173);
  color: white;
}
.button-start:hover {
  border: 1px solid rgb(86, 197, 173);
  background: white;
  color: rgb(86, 197, 173);
}
